* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #fdfdfd;
}

.content {
  max-width: 50rem;
  margin: 0 auto;
}

.navigation {
  position: sticky;
  top: 0;
  background: #333;
  padding: 0.625rem;
  z-index: 9;
}

.navigation a {
  color: white;
  margin-right: 1rem;
}

.img-float {
  float: left;
  width: 6.25rem;
  max-width: 40%;
  height: auto;
  margin: 0 0.625rem 0.625rem 0;
}

.img-float--right {
  float: right;
}

.info__text {
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.composition {
  position: relative;
  height: 11.25rem;
  background: #eee;
  max-width: 18.75rem;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
}

.item {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  color: white;
}

.item--1 {
  background: red;
  top: 0.625rem;
  left: 0.625rem;
  z-index: 3;
}

.item--2 {
  background: blue;
  top: 1.875rem;
  left: 1.875rem;
  z-index: 2;
}

.item--3 {
  background: green;
  top: 3.125rem;
  left: 3.125rem;
  z-index: 1;
}

form {
  margin: 1.25rem 0;
  padding: 0.625rem;
  border-radius: 0.375rem;
}

.form-reg {
  background: #eef;
}

.form-login {
  background: #efe;
}

.form-feed {
  background: #ffe;
}

input,
select,
textarea {
  display: block;
  margin: 0.375rem 0;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  width: auto;
}

.fixed-btn {
  position: fixed;
  bottom: 0.625rem;
  right: 0.625rem;
  background: red;
  color: white;
  padding: 0.625rem;
  text-decoration: none;
}

.footer {
  margin-top: 3.125rem;
  padding-bottom: 1.25rem;
  border-top: 0.125rem solid #ccc;
  text-align: center;
}

@media (max-width: 30rem) {
  .composition {
    height: 7.5rem;
    max-width: 12.5rem;
  }

  .item {
    width: 2.5rem;
    height: 2.5rem;
  }

  .item--2 {
    top: 1.25rem;
    left: 1.25rem;
  }

  .item--3 {
    top: 2.5rem;
    left: 2.5rem;
  }

  .img-float {
    width: 5rem;
  }

  .navigation a {
    display: block;
    margin: 0.625rem 0;
  }
}
